<!-- /* File name: product.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 6, 2022 */ -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <!-- <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main> -->
  <style>
    div.relative {
      position: relative;
      left: 199px;
      border: 3px solid #636462;
    }
    </style>
    <style>
        div.relative1 {
          position: relative;
          right: 199px;
          border: 3px solid #636462;
        }
        </style>
  <body>
    <div class="jumbotron">
        <div style="display: flex;justify-content: space-between;">
            <div class="relative" style="width: 28.5%">
                <div>
                    <img src="https://www.intelligenttransport.com/wp-content/uploads/automation.jpg"  width="350" height="215">
                    <h1>Voice controlled Car Automation</h1>
                    <p>The car takes the voice command of the user like go, stop, left, right and moves accordingly.</p>
                 </div>
            </div>
            <div class="relative1" style="width: 28.5%">
                <img src="https://www.matrixvideosurveillance.com/blog/wp-content/uploads/2020/01/matrix-smart-parking-management-solution.png"  width="350" height="215">
                <h1>Feature Extraction and Pattern Recognition in Parking System</h1>
                <p>The camera captures the image of entire car and detects where the number plate is and takes only the number plate. Then using optical character recognition it converts image to text and thats into MS Access for further process.</p>
            </div>   
        </div>
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  




